## Exercises

## **String**

**Immutable*

In [2]:
print('"{:>15}"'.format("Hello"))

"          Hello"

In [3]:
print('"{:<15}"'.format("Hello"))

"Hello          "

In [4]:
print('"{:^15}"'.format("Hello"))

"     Hello     "

In [5]:
print('"{:@^15}"'.format("Hello"))

"@@@@@Hello@@@@@"

In [8]:
phi = 1.618033
print("{:03.2f}".format(phi))

1.62

## **Lists**

*mutable*

In [20]:
l = ["a", "b", "c", "d", "e", "f", "j", "h"]
#     0    1    2    3    4    5    6    7

l[2:7:2]

['c', 'e', 'j']

In [21]:
l = ["a", "b", "c", "d", "e", "f", "j", "h"]
#     0    1    2    3    4    5    6    7

l[::3]

['a', 'd', 'j']

In [27]:
l = [True, "welcome", 100]
l.append("this append")
l

[True, 'welcome', 100, 'this append']

In [28]:
l.insert(2, "to my notebook")
l

[True, 'welcome', 'to my notebook', 100, 'this append']

In [42]:
l.remove(100)
l

[True, 'welcome', 'to my notebook', 'this append']

In [43]:
l.pop(0)
l

['welcome', 'to my notebook', 'this append']

In [34]:
l1 = ["element_1 from list_1" , "element_2 from list_1", "element_3 from list_1"]
l2 = ["element_1 from list_2", "element_2 from list_2"]

l1.extend(l2) # mutable - change the orignal lists
l1

['element_1 from list_1',
 'element_2 from list_1',
 'element_3 from list_1',
 'element_1 from list_2',
 'element_2 from list_2']

In [35]:
concat_list = ["concatenation from list concat"] # immutable - craete a new list *SAFER to avoid change*

new_list = l1 + concat_list
new_list

['element_1 from list_1',
 'element_2 from list_1',
 'element_3 from list_1',
 'element_1 from list_2',
 'element_2 from list_2',
 'concatenation from list concat']

In [38]:
'element_1 from list_1' in l1

True

In [41]:
'element_4 from list_10' in l1 , l1.index('element_3 from list_1')

(False, 2)

Exercise 1 : Write a Python program to multiply all the items in a list.

In [45]:
lis = [1,2,3,4,5,6,7,8,9]
x = 1
for num in lis:
    x *= num
print(x)

362880

Exercise 2 : Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [48]:
lis_str = ['eye','egg','mam','1001'] # Expected Result : 3 eye mam 1001
count = 0
for str in lis_str:
    if len(str) >= 2:
        if str[0] == str[-1]:
            count += 1

print(count)

3

Exercise 3 : Write a Python function that takes two lists and returns True if they have at least one common member.

In [55]:
lis1 = [1,2,3,4,5]
lis2 = [5,6,7,8,9]

def common_member(list1 , list2):
    for i in list1:
        if i in list2:
            return True
    return False

common_member(lis1, lis2)

True

Tuple - **Immutable**

## Iterating Lists

In [61]:
new_hires = [('Mark Adams', 'SQL Analyst', 4000),
             ('Leslie Burton', 'HR Specialist', 2300),
             ('Dorothy Castillo', 'UX Designer', 3100)]

for index, (name, job, salary) in enumerate(new_hires):
    if "SQL" in job:
        new_hires.remove(new_hires[index])

In [62]:
new_hires

[('Leslie Burton', 'HR Specialist', 2300),
 ('Dorothy Castillo', 'UX Designer', 3100)]

## Dict

Exercise 1 : Create a dictionary from a list: Create a dictionary from a list of tuples, where each tuple represents a key-value pair.

In [64]:
data = [("name", "Alice"), ("age", 30), ("city", "New York")]
d = dict(data)
type(d)

dict

In [65]:
d

{'name': 'Alice', 'age': 30, 'city': 'New York'}

Exercise 2 : Find the key with the maximum or minimum value: Find the key associated with the largest or smallest value in the dictionary.

In [70]:
scores = {"Alice": 95, "Bob": 88, "Charlie": 92}

max_val = 0
max_key = None
for key in scores:
    if scores[key] > max_val:
        max_val = scores[key]
        max_key = key

max_key, max_val

('Alice', 95)

## PROJECT

In [73]:
import csv


def read_squad_file(file_name):
    squad = []
    with open(file_name) as fp:
        reader = csv.reader(fp)
        for line in reader:
            squad.append(line)

    return squad

In [68]:
SQUADS_DATA = [
  [
    "1",
    "GK",
    "Juan Botasso",
    "(1908-10-23)23 October 1908 (aged 21)",
    "",
    "Quilmes",
    "Argentina",
    "Argentina",
    "1930"
  ],
  [
    "9",
    "FW",
    "Roberto Cherro",
    "(1907-02-23)23 February 1907 (aged 23)",
    "",
    "Boca Juniors",
    "Argentina",
    "Argentina",
    "1930"
  ],
  [
    "-",
    "MF",
    "Pierre Braine",
    "(1900-10-26)26 October 1900 (aged 29)",
    "42",
    "Royal Beerschot AC",
    "Belgium",
    "Belgium",
    "1930"
  ],
  [
    "-",
    "MF",
    "Alexis Chantraine",
    "(1901-03-16)16 March 1901 (aged 29)",
    "0",
    "Royal FC Liegeois",
    "Belgium",
    "Belgium",
    "1930"
  ],
  [
    "-",
    "GK",
    "Jean De Bie",
    "(1892-05-09)9 May 1892 (aged 38)",
    "37",
    "Royal Racing Club de Bruxelles",
    "Belgium",
    "Belgium",
    "1930"
  ],
  [
    "-",
    "MF",
    "Oscar",
    "(1991-09-09)9 September 1991 (aged 22)",
    "29",
    "Chelsea",
    "Brazil",
    "England",
    "2010"
  ],
  [
    "-",
    "MF",
    "Paulinho",
    "(1988-07-25)25 July 1988 (aged 25)",
    "25",
    "Tottenham Hotspur",
    "Brazil",
    "England",
    "2010"
  ],
  [
    "-",
    "MF",
    "Hernanes",
    "(1985-05-29)29 May 1985 (aged 29)",
    "23",
    "Internazionale",
    "Brazil",
    "Italy",
    "2014"
  ],
  [
    "-",
    "MF",
    "Luiz Gustavo",
    "(1987-07-23)23 July 1987 (aged 26)",
    "17",
    "VfL Wolfsburg",
    "Brazil",
    "Germany",
    "2014"
  ],
  [
    "-",
    "MF",
    "Fernandinho",
    "(1985-05-04)4 May 1985 (aged 29)",
    "6",
    "Manchester City",
    "Brazil",
    "England",
    "2014"
  ],
  [
    "-",
    "MF",
    "Willian",
    "(1988-08-09)9 August 1988 (aged 25)",
    "5",
    "Chelsea",
    "Brazil",
    "England",
    "2014"
  ],
  [
    "-",
    "FW",
    "Lee Keun-Ho",
    "(1985-04-11)11 April 1985 (aged 29)",
    "62",
    "Sangju Sangmu",
    "South Korea",
    "South Korea",
    "2014"
  ],
  [
    "-",
    "FW",
    "Koo Ja-Cheol",
    "(1989-02-27)27 February 1989 (aged 25)",
    "35",
    "Mainz 05",
    "South Korea",
    "Germany",
    "2014"
  ],
  [
    "-",
    "FW",
    "Kim Shin-Wook",
    "(1988-04-14)14 April 1988 (aged 26)",
    "26",
    "Ulsan Hyundai",
    "South Korea",
    "South Korea",
    "2014"
  ]
]

Assignment 1 - Lists to Dicts

In [69]:
def players_as_dictionaries(lists):
    players = []
    for player in lists:
        player_dict = {
            'number': player[0],
            'position': player[1],
            'name': player[2],
            'date_of_birth': player[3],
            'caps': player[4],
            'club': player[5],
            'country': player[6],
            'club_country':player[7],
            'year': player[8]
        }
        players.append(player_dict)
    return players

In [70]:
SQUADS_DATA = players_as_dictionaries(SQUADS_DATA)
SQUADS_DATA

[{'number': '1',
  'position': 'GK',
  'name': 'Juan Botasso',
  'date_of_birth': '(1908-10-23)23 October 1908 (aged 21)',
  'caps': '',
  'club': 'Quilmes',
  'country': 'Argentina',
  'club_country': 'Argentina',
  'year': '1930'},
 {'number': '9',
  'position': 'FW',
  'name': 'Roberto Cherro',
  'date_of_birth': '(1907-02-23)23 February 1907 (aged 23)',
  'caps': '',
  'club': 'Boca Juniors',
  'country': 'Argentina',
  'club_country': 'Argentina',
  'year': '1930'},
 {'number': '-',
  'position': 'MF',
  'name': 'Pierre Braine',
  'date_of_birth': '(1900-10-26)26 October 1900 (aged 29)',
  'caps': '42',
  'club': 'Royal Beerschot AC',
  'country': 'Belgium',
  'club_country': 'Belgium',
  'year': '1930'},
 {'number': '-',
  'position': 'MF',
  'name': 'Alexis Chantraine',
  'date_of_birth': '(1901-03-16)16 March 1901 (aged 29)',
  'caps': '0',
  'club': 'Royal FC Liegeois',
  'country': 'Belgium',
  'club_country': 'Belgium',
  'year': '1930'},
 {'number': '-',
  'position': 'GK',
  'name': 'Jean De Bie',
  'date_of_birth': '(1892-05-09)9 May 1892 (aged 38)',
  'caps': '37',
  'club': 'Royal Racing Club de Bruxelles',
  'country': 'Belgium',
  'club_country': 'Belgium',
  'year': '1930'},
 {'number': '-',
  'position': 'MF',
  'name': 'Oscar',
  'date_of_birth': '(1991-09-09)9 September 1991 (aged 22)',
  'caps': '29',
  'club': 'Chelsea',
  'country': 'Brazil',
  'club_country': 'England',
  'year': '2010'},
 {'number': '-',
  'position': 'MF',
  'name': 'Paulinho',
  'date_of_birth': '(1988-07-25)25 July 1988 (aged 25)',
  'caps': '25',
  'club': 'Tottenham Hotspur',
  'country': 'Brazil',
  'club_country': 'England',
  'year': '2010'},
 {'number': '-',
  'position': 'MF',
  'name': 'Hernanes',
  'date_of_birth': '(1985-05-29)29 May 1985 (aged 29)',
  'caps': '23',
  'club': 'Internazionale',
  'country': 'Brazil',
  'club_country': 'Italy',
  'year': '2014'},
 {'number': '-',
  'position': 'MF',
  'name': 'Luiz Gustavo',
  'date_of_birth': '(1987-07-23)23 July 1987 (aged 26)',
  'caps': '17',
  'club': 'VfL Wolfsburg',
  'country': 'Brazil',
  'club_country': 'Germany',
  'year': '2014'},
 {'number': '-',
  'position': 'MF',
  'name': 'Fernandinho',
  'date_of_birth': '(1985-05-04)4 May 1985 (aged 29)',
  'caps': '6',
  'club': 'Manchester City',
  'country': 'Brazil',
  'club_country': 'England',
  'year': '2014'},
 {'number': '-',
  'position': 'MF',
  'name': 'Willian',
  'date_of_birth': '(1988-08-09)9 August 1988 (aged 25)',
  'caps': '5',
  'club': 'Chelsea',
  'country': 'Brazil',
  'club_country': 'England',
  'year': '2014'},
 {'number': '-',
  'position': 'FW',
  'name': 'Lee Keun-Ho',
  'date_of_birth': '(1985-04-11)11 April 1985 (aged 29)',
  'caps': '62',
  'club': 'Sangju Sangmu',
  'country': 'South Korea',
  'club_country': 'South Korea',
  'year': '2014'},
 {'number': '-',
  'position': 'FW',
  'name': 'Koo Ja-Cheol',
  'date_of_birth': '(1989-02-27)27 February 1989 (aged 25)',
  'caps': '35',
  'club': 'Mainz 05',
  'country': 'South Korea',
  'club_country': 'Germany',
  'year': '2014'},
 {'number': '-',
  'position': 'FW',
  'name': 'Kim Shin-Wook',
  'date_of_birth': '(1988-04-14)14 April 1988 (aged 26)',
  'caps': '26',
  'club': 'Ulsan Hyundai',
  'country': 'South Korea',
  'club_country': 'South Korea',
  'year': '2014'}]

Assignment 2

In [71]:
def players_by_position(squads_list):
    player_dict = {}
    for player in squads_list:
        position = player['position']
        player_dict.setdefault(position , [])
        player_dict[position].append(player)
    return player_dict

players_grouped_position = players_by_position(SQUADS_DATA)
players_grouped_position

{'GK': [{'number': '1',
   'position': 'GK',
   'name': 'Juan Botasso',
   'date_of_birth': '(1908-10-23)23 October 1908 (aged 21)',
   'caps': '',
   'club': 'Quilmes',
   'country': 'Argentina',
   'club_country': 'Argentina',
   'year': '1930'},
  {'number': '-',
   'position': 'GK',
   'name': 'Jean De Bie',
   'date_of_birth': '(1892-05-09)9 May 1892 (aged 38)',
   'caps': '37',
   'club': 'Royal Racing Club de Bruxelles',
   'country': 'Belgium',
   'club_country': 'Belgium',
   'year': '1930'}],
 'FW': [{'number': '9',
   'position': 'FW',
   'name': 'Roberto Cherro',
   'date_of_birth': '(1907-02-23)23 February 1907 (aged 23)',
   'caps': '',
   'club': 'Boca Juniors',
   'country': 'Argentina',
   'club_country': 'Argentina',
   'year': '1930'},
  {'number': '-',
   'position': 'FW',
   'name': 'Lee Keun-Ho',
   'date_of_birth': '(1985-04-11)11 April 1985 (aged 29)',
   'caps': '62',
   'club': 'Sangju Sangmu',
   'country': 'South Korea',
   'club_country': 'South Korea',
   'year': '2014'},
  {'number': '-',
   'position': 'FW',
   'name': 'Koo Ja-Cheol',
   'date_of_birth': '(1989-02-27)27 February 1989 (aged 25)',
   'caps': '35',
   'club': 'Mainz 05',
   'country': 'South Korea',
   'club_country': 'Germany',
   'year': '2014'},
  {'number': '-',
   'position': 'FW',
   'name': 'Kim Shin-Wook',
   'date_of_birth': '(1988-04-14)14 April 1988 (aged 26)',
   'caps': '26',
   'club': 'Ulsan Hyundai',
   'country': 'South Korea',
   'club_country': 'South Korea',
   'year': '2014'}],
 'MF': [{'number': '-',
   'position': 'MF',
   'name': 'Pierre Braine',
   'date_of_birth': '(1900-10-26)26 October 1900 (aged 29)',
   'caps': '42',
   'club': 'Royal Beerschot AC',
   'country': 'Belgium',
   'club_country': 'Belgium',
   'year': '1930'},
  {'number': '-',
   'position': 'MF',
   'name': 'Alexis Chantraine',
   'date_of_birth': '(1901-03-16)16 March 1901 (aged 29)',
   'caps': '0',
   'club': 'Royal FC Liegeois',
   'country': 'Belgium',
   'club_country': 'Belgium',
   'year': '1930'},
  {'number': '-',
   'position': 'MF',
   'name': 'Oscar',
   'date_of_birth': '(1991-09-09)9 September 1991 (aged 22)',
   'caps': '29',
   'club': 'Chelsea',
   'country': 'Brazil',
   'club_country': 'England',
   'year': '2010'},
  {'number': '-',
   'position': 'MF',
   'name': 'Paulinho',
   'date_of_birth': '(1988-07-25)25 July 1988 (aged 25)',
   'caps': '25',
   'club': 'Tottenham Hotspur',
   'country': 'Brazil',
   'club_country': 'England',
   'year': '2010'},
  {'number': '-',
   'position': 'MF',
   'name': 'Hernanes',
   'date_of_birth': '(1985-05-29)29 May 1985 (aged 29)',
   'caps': '23',
   'club': 'Internazionale',
   'country': 'Brazil',
   'club_country': 'Italy',
   'year': '2014'},
  {'number': '-',
   'position': 'MF',
   'name': 'Luiz Gustavo',
   'date_of_birth': '(1987-07-23)23 July 1987 (aged 26)',
   'caps': '17',
   'club': 'VfL Wolfsburg',
   'country': 'Brazil',
   'club_country': 'Germany',
   'year': '2014'},
  {'number': '-',
   'position': 'MF',
   'name': 'Fernandinho',
   'date_of_birth': '(1985-05-04)4 May 1985 (aged 29)',
   'caps': '6',
   'club': 'Manchester City',
   'country': 'Brazil',
   'club_country': 'England',
   'year': '2014'},
  {'number': '-',
   'position': 'MF',
   'name': 'Willian',
   'date_of_birth': '(1988-08-09)9 August 1988 (aged 25)',
   'caps': '5',
   'club': 'Chelsea',
   'country': 'Brazil',
   'club_country': 'England',
   'year': '2014'}]}

Assignment 3

In [73]:
def players_by_country_and_position(squads_list):
    group = {}
    for player in squads_list:
        country = player['country']
        position = player['position']
        if country not in group:
            group[country] = {}
        if position not in group[country]:
            group[country][position] = {}
        group[country][position] = player
    return group

group = players_by_country_and_position(SQUADS_DATA)
group

{'Argentina': {'GK': {'number': '1',
   'position': 'GK',
   'name': 'Juan Botasso',
   'date_of_birth': '(1908-10-23)23 October 1908 (aged 21)',
   'caps': '',
   'club': 'Quilmes',
   'country': 'Argentina',
   'club_country': 'Argentina',
   'year': '1930'},
  'FW': {'number': '9',
   'position': 'FW',
   'name': 'Roberto Cherro',
   'date_of_birth': '(1907-02-23)23 February 1907 (aged 23)',
   'caps': '',
   'club': 'Boca Juniors',
   'country': 'Argentina',
   'club_country': 'Argentina',
   'year': '1930'}},
 'Belgium': {'MF': {'number': '-',
   'position': 'MF',
   'name': 'Alexis Chantraine',
   'date_of_birth': '(1901-03-16)16 March 1901 (aged 29)',
   'caps': '0',
   'club': 'Royal FC Liegeois',
   'country': 'Belgium',
   'club_country': 'Belgium',
   'year': '1930'},
  'GK': {'number': '-',
   'position': 'GK',
   'name': 'Jean De Bie',
   'date_of_birth': '(1892-05-09)9 May 1892 (aged 38)',
   'caps': '37',
   'club': 'Royal Racing Club de Bruxelles',
   'country': 'Belgium',
   'club_country': 'Belgium',
   'year': '1930'}},
 'Brazil': {'MF': {'number': '-',
   'position': 'MF',
   'name': 'Willian',
   'date_of_birth': '(1988-08-09)9 August 1988 (aged 25)',
   'caps': '5',
   'club': 'Chelsea',
   'country': 'Brazil',
   'club_country': 'England',
   'year': '2014'}},
 'South Korea': {'FW': {'number': '-',
   'position': 'FW',
   'name': 'Kim Shin-Wook',
   'date_of_birth': '(1988-04-14)14 April 1988 (aged 26)',
   'caps': '26',
   'club': 'Ulsan Hyundai',
   'country': 'South Korea',
   'club_country': 'South Korea',
   'year': '2014'}}}

**TEST ::**

In [74]:
def test_assignment_1():
    result = players_as_dictionaries(SQUADS_DATA)
    assert len(result) == 14

    assert result[0] == {
        'caps': '',
        'club': 'Quilmes',
        'club_country': 'Argentina',
        'country': 'Argentina',
        'date_of_birth': '(1908-10-23)23 October 1908 (aged 21)',
        'name': 'Juan Botasso',
        'number': '1',
        'position': 'GK',
        'year': '1930'
    }

    assert result[1] == {
        'caps': '',
        'club': 'Boca Juniors',
        'club_country': 'Argentina',
        'country': 'Argentina',
        'date_of_birth': '(1907-02-23)23 February 1907 (aged 23)',
        'name': 'Roberto Cherro',
        'number': '9',
        'position': 'FW',
        'year': '1930'
    }

    assert result[-1] == {
        'caps': '26',
        'club': 'Ulsan Hyundai',
        'club_country': 'South Korea',
        'country': 'South Korea',
        'date_of_birth': '(1988-04-14)14 April 1988 (aged 26)',
        'name': 'Kim Shin-Wook',
        'number': '-',
        'position': 'FW',
        'year': '2014'
    }


# Assignment 2
def test_assignment_2():
    result = players_by_position(SQUADS_DATA)
    assert len(result) == 3  # 3 positions

    goalkeepers = result['GK']
    assert len(goalkeepers) == 2

    assert goalkeepers[0] == {
        'caps': '',
        'club': 'Quilmes',
        'club_country': 'Argentina',
        'country': 'Argentina',
        'date_of_birth': '(1908-10-23)23 October 1908 (aged 21)',
        'name': 'Juan Botasso',
        'number': '1',
        'position': 'GK',
        'year': '1930'
    }

    midfielders = result['MF']
    assert len(midfielders) == 8
    assert midfielders[0] == {
        'caps': '42',
        'club': 'Royal Beerschot AC',
        'club_country': 'Belgium',
        'country': 'Belgium',
        'date_of_birth': '(1900-10-26)26 October 1900 (aged 29)',
        'name': 'Pierre Braine',
        'number': '-',
        'position': 'MF',
        'year': '1930'
    }

    forwards = result['FW']
    assert len(forwards) == 4

    assert forwards[0] == {
        'caps': '',
        'club': 'Boca Juniors',
        'club_country': 'Argentina',
        'country': 'Argentina',
        'date_of_birth': '(1907-02-23)23 February 1907 (aged 23)',
        'name': 'Roberto Cherro',
        'number': '9',
        'position': 'FW',
        'year': '1930'
    }


# Assignment 3
def test_assignment_3():
    result = players_by_country_and_position(SQUADS_DATA)
    assert len(result) == 4

    expected_countries = {'Argentina', 'Belgium', 'Brazil', 'South Korea'}
    assert set(result.keys()) == expected_countries

    # Argentina
    argentina = result['Argentina']
    assert len(argentina) == 2

    ar_goalkeepers = argentina['GK']
    ar_forwards = argentina['FW']
    assert len(ar_goalkeepers) == 1
    assert len(ar_forwards) == 1

    # Brazil

    brazil = result['Brazil']
    assert len(brazil) == 1  # Only midfielders

    br_midfielders = brazil['MF']
    assert len(br_midfielders) == 6

    assert br_midfielders[0] == {
        'caps': '29',
        'club': 'Chelsea',
        'club_country': 'England',
        'country': 'Brazil',
        'date_of_birth': '(1991-09-09)9 September 1991 (aged 22)',
        'name': 'Oscar',
        'number': '-',
        'position': 'MF',
        'year': '2010'
    }

    assert br_midfielders[-1] == {
        'caps': '5',
        'club': 'Chelsea',
        'club_country': 'England',
        'country': 'Brazil',
        'date_of_birth': '(1988-08-09)9 August 1988 (aged 25)',
        'name': 'Willian',
        'number': '-',
        'position': 'MF',
        'year': '2014'
    }

**DONE**